<!DOCTYPE html>
<html>
  <head>
    <!-- This is where you would add the head info from another file.
    <meta charset="utf-8">
    <title></title> -->
  </head>
  <body>
    <header>
      <% include ../partials/nav %>
    </header>

    <p>Paragraph...</p>
  </body>

  <!-- footer -> This is where you would add the footer info that's located in partials -->
</html>
