<% include ../../partials/head %>

<h1>Answers for:  <%= question.title %></h1>

<h3>Use this form if answer is yes/no: </h3>
<form action="/addYNAnswer" method="post" id="form_add_ans">
    <input type="hidden" name="question_id" value="<%= question._id %>">
    <div class="input-field col s12">
        <input id="response_text" type="text" name="response_text">
        <label for="response">Answer to the question: </label>
    </div>

    <br><hr>
    <div class="input-field col s12">
        <input id="response_text" type="text" name="response_text">
        <label for="response">Answer to the question: </label>
    </div>

    <button class="waves-effect waves-light btn right">Add Answers</button>
</form>

<h3>Use this form if question has multiple answers: </h3>
<form action="/addMultipleAnswer" method="post" id="form_add_ans">
    <div class="input-field col s12">
        <input id="response_text" type="text" name="response_text">
        <label for="response">Answer to the question: </label>
    </div>

    <br><hr>

    <div class="input-field col s12">
        <input id="response_text" type="text" name="response_text">
        <label for="response">Answer to the question: </label>
    </div>

    <br><hr>

    <div class="input-field col s12">
        <input id="response_text" type="text" name="response_text">
        <label for="response">Answer to the question: </label>
    </div>

    <br><hr>

    <div class="input-field col s12">
        <input id="response_text" type="text" name="response_text">
        <label for="response">Answer to the question: </label>
    </div>

    <button class="waves-effect waves-light btn right">Add Answers</button>
</form>



